body {
  background-color: #333441;
}

footer {
  color: #ffffff;
  text-align: center;
  margin: 30px 0 30px 0
}

input[type=search] {
  margin: 15px 0 17px 0;
  border-radius: 28px;
  border: 0;
  padding: 0 1rem 0 1rem;
  transition: all .35s ease-in-out;
  @media screen and (min-width: 0px) {
    line-height: 45px;
    width: 100%;
  }
  @media screen and (min-width: 720px) {
    line-height: 50px;
    width: 430px;
  }
  @media screen and (min-width: 960px) {
    line-height: 50px;
    width: 630px;
  }
  &:focus {
    box-shadow: 0 0 10px #FFB0DE;
    outline: none;
  }
}

//jumbotron
#jumbotron {
  @media screen and (min-width: 30em) {
    margin: 0 2rem 0 2rem;
  }
}

#jumotron-line-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    margin-right: 43px;
  }
}

#gl-logo {
  @media screen and (min-width: 0px) {
    background-image: url('../images/gl-logo-sm.png');
    background-size: 40px 40px;
    margin: 15px 0 0 20px;
    height: 40px;
    width: 40px;
  }
  @media screen and (min-width: 30em) {
    background-image: url('../images/gl-logo@2x.png');
    background-size: 80px 100px;
    margin: 35px 0 0 43px;
    height: 100px;
    width: 80px;
  }
}

#jumotron-line-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -40px;
  img {
    @media screen and (min-width: 0px) {
      margin: 9rem 0 5rem 0;
    }
    @media screen and (min-width: 30em) {
      margin: 0;
    }
  }
}

#jumotron-line-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -10px;
  padding-bottom: 30px;
  img {
    width: 50%;
    @include centered-image;
  }
}

// Search box
#search-box {
  text-align: center;
  @media screen and (min-width: 0) {
    padding: 0 1rem 1rem 1rem;
  }
  @media screen and (min-width:40em) {
    margin: 0 2rem 0 2rem;
    ;
  }
  input[type=search],
  input[type=submit] {
    font-family: $fontNameBold;
    font-size: $baseFontSize;
  }
  input[type=submit] {
    @include button-common;
    height: 43px;
    padding: 10px 20px 10px 20px;
    @media screen and (min-width: 0) {
      width: 120px;
      margin-top: -7px;
    }
    @media screen and (min-width: 40em) {
      width: 120px;
      margin-top: -2px;
      margin-left: -128px;
    }
    &:active {
      width: 120px;
      position: relative;
      top: 1px;
    }
  }
}

// Results box
#search-result {
  margin: 0 2rem 0 2rem; // padding: 4rem 0 3rem 0;
  @media screen and (min-width: 0) and (max-width: 31em) {
    img {
      width: 80px;
    }
    section {
      font-size: 18px;
      margin: 12px 0 12px 0
    }
  }
  @media screen and (min-width: 31em) {
    padding: 4rem 0 3rem 0;
    img {
      width: 170px;
    }
    section {
      font-size: 24px;
      margin: 35px 0 35px 0
    }
  }
  img {
    @include centered-image;
  }
  section {
    text-align: center;
  }
}

// Image
.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}


//Search results
.item-label {
  background: #FFFFFF;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-radius: 0 0 5px 5px;
  font-family: $fontNameBold;
}

.img-item-label {
  border-radius: 5px 5px 0 0
}

//Button
.btn {
  @include button-common;
  font-family: $fontNameBold;
  font-size: $baseFontSize;
  height: 40px;
  padding: 10px 20px 10px 20px;

    &:active {
      position: relative;
      top: 1px;
    }
}
