body {
  background-color: #333441;
}

footer {
  color: #ffffff;
  text-align: center;
  margin: 30px 0 30px 0
}

input[type=search] {
  margin: 15px 0 17px 0;
  border-radius: 28px;
  border: 0;
  padding: 0 1rem 0 1rem;
  transition: all .35s ease-in-out;
  @media screen and (min-width: 0px) {
    line-height: 45px;
    width: 100%;
  }
  @media screen and (min-width: 30em) {
    line-height: 50px;
    width: 630px;
  }
  &:focus {
    box-shadow: 0 0 10px #FFB0DE;
    outline: none;
  }
}

//Colors
.bg-pink-jumbotron {
  background: linear-gradient(#CD4282, #B3455D);
}

.bg-black-search-box {
  background-color: #333441;
}

.bg-black-result {
  background-color: #383A49!important;
}

.fg-black-text-result {
  color: #474958;
}

.fg-white {
  color: #FFFFFF;
}

//jumbotron
#jumbotron {
  @media screen and (min-width: 768px) {
    margin: 0 2rem 0 2rem;
  }
}

#jumotron-line-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    margin-right: 43px;
  }
}

#gl-logo {
  @media screen and (min-width: 0px) {
    background-image: url('../images/gl-logo-sm.png');
    background-size: 40px 40px;
    margin: 15px 0 0 20px;
    height: 40px;
    width: 40px;
  }
  @media screen and (min-width: 30em) {
    background-image: url('../images/gl-logo@2x.png');
    background-size: 80px 100px;
    margin: 35px 0 0 43px;
    height: 100px;
    width: 80px;
  }
}

#jumotron-line-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -40px;
  img {
    @media screen and (min-width: 0px) {
      margin: 9rem 0 5rem 0;
    }
    @media screen and (min-width: 30em) {
      margin: 0;
    }
  }
}

#jumotron-line-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -10px;
  padding-bottom: 30px;
  img {
    width: 50%;
    @include centered-image;
  }
}

// Search box
#search-box {
  text-align: center;
  @media screen and (min-width: 0) {
    margin: 0 1rem 1rem 1rem;
  }
  @media screen and (min-width:30em) {
    margin: 0 2rem 0 2rem;
  }
  input[type=search],
  input[type=submit] {
    font-family: $fontNameBold;
    font-size: $baseFontSize;
  }
  input[type=submit] {
    outline: none;
    height: 43px;
    padding: 10px 20px 10px 20px;
    background: #D05D84;
    border-radius: 28px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border: 0;
    cursor: pointer;
    @media screen and (min-width: 0) {
      width: 180px;
      margin-top: -7px;
    }
    @media screen and (min-width: 30em) {
      width: 120px;
      margin-top: -2px;
      margin-left: -128px;
    }
    &:active {
      width: 120px;
      position: relative;
      top: 1px;
    }
    &:hover {
      background: lighten(#D05D84, 5%);
    }
  }
}

// Results box
#search-result {
  margin: 0 2rem 0 2rem;
  padding: 4rem 0 3rem 0;
  @media screen and (min-width: 0) {
    img {
      width: 80px;
    }
    section {
    font-size: 18px;
    margin: 12px 0 12px 0}
  }
  @media screen and (min-width: 30em) {
    img {
      width: 170px;
    }
    section {
    font-size: 24px;
    margin: 35px 0 35px 0}
  }
  img {
    @include centered-image;
  }
  section {
    text-align: center;
  }
}

// Image
.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}
