@font-face {
  font-family: "Raleway Regular";
  font-style: normal;
  src: url("fonts/Raleway-Regular.ttf") format('ttf');
}

@font-face {
  font-family: "Raleway Light";
  font-style: normal;
  src: url("fonts/Raleway-Light.ttf") format('ttf');
}

@font-face {
  font-family: "Raleway Bold";
  font-style: normal;
  src: url("fonts/Raleway-Bold.ttf") format('ttf');
}
