// The Modal background
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

//  Modal Content/Box
.modal-content {
  background-color: #fefefe;
  margin: 2% auto;
  padding-bottom: 1.5%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  h1 {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    position: absolute;
    margin-top: -80px;
    margin-left: 33px;
  }
  @media screen and (max-width: 30rem) {
    width: 20rem;
  }
  @media screen and (min-width: 31rem) {
    width: 41rem;
  }
}

//Modal header
.modal-jumbotron {
  position: relative;
}

.modal-jumbotron-imd {
  display: block;
  width: 100%;
  top: -30%;
  position: absolute;
}

.modal-jumbotron-block {
  width: 100%;
  height: 260px;
  overflow: hidden;
  position: relative;
}

//Motel's item
.item-details {
  @media screen and (max-width: 30rem) {
    margin: 2% 5%;
    article {
      display: block;
      margin-bottom: 15px;
    }
  }
  @media screen and (min-width: 31rem) {
    margin: 2% 5%;
    article {
      display: flex;
      margin-bottom: 15px;
    }
  }
}

//Adapt the modal
.modal-content-lg-only {
  @media screen and (max-width: 30rem) {
    display: none!important;
  }
  @media screen and (min-width: 31rem) {
    display: block!important;
  }
}

.modal-content-sm-only {
  @media screen and (max-width: 30rem) {
    display: block!important;
  }
  @media screen and (min-width: 31rem) {
    display: none!important;
  }
}

.modal-article-lg-only {
  @media screen and (max-width: 30rem) {
    display: none!important;
  }
  @media screen and (min-width: 31rem) {
    display: flex!important;
  }
}

.modal-article-sm-only {
  @media screen and (max-width: 30rem) {
    display: flex;
  }
  @media screen and (min-width: 31rem) {
    display: none;
  }
}

//The single track or album
.album-track-title {
  font-weight: bolder;
  @media screen and (max-width: 30rem) {
    margin:0;
    font-size: 18px
  }
  @media screen and (min-width: 31rem) {
    margin: 15px 15px 10px 15px;
    font-size: 20px
  }
}

.track-length {
  @media screen and (max-width: 30rem) {
    margin:0;
  }
  @media screen and (min-width: 31rem) {
    margin-left: 15px
  }
}

// The Close Button
.close {
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-weight: lighter;
  position: absolute;
  z-index: 99;
  @media screen and (max-width: 30rem) {
    font-size: 52px;
    margin-top: -48%;
    margin-left: 90%;
  }
  @media screen and (min-width: 31rem) {
    font-size: 62px;
    margin-top: -260px;
    margin-left: 92.5%;
  }
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
