@import url('https://fonts.googleapis.com/css?family=Raleway');
html {
  font-size: 100%;
}

body {
  font-family: $fontName;
  font-size: $baseFontSize;
  line-height: 1.1;
}

h1 {
  font-size: 39px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}
