// grid variables
$grid-columns: 12;
$grid-max-width: 65em;
// breakpoints
$breakpoint-medium: "only screen and (min-width: 40em)";
//Typographie
$fontName: "Raleway Regular",
"Segoe UI",
"Open Sans",
sans-serif,
serif;
$fontNameLight: "Raleway Light",
"Segoe UI Light",
"Open Sans Light",
sans-serif,
serif;
$fontNameBold: "Raleway Bold",
"Segoe UI Bold",
sans-serif,
serif;
$baseFontSize: .875rem;
$secondTextFontSize: .75rem;
$smallTextFontSize: .625rem;
$accentTextFontSize: 1.1rem;
