<!-- Modal content -->
<div class="modal-content">

  <!--Jumbotron Desktop View-->
  <section class="modal-jumbotron modal-content-lg-only">

    <img src="../images/toDelete2.png" style="width: 100%" alt="Artist">

    <span class="close" ng-click="$ctrl.closeModal()">
        &times;</span>
    <h1 class="fg-white">Alberta Clark</h1>
  </section>
  <!--End Jumbotron Desktop View-->

  <!-- Jumbotron Mobile View-->
  <section class="modal-jumbotron modal-content-sm-only">

    <img src="../images/toDelete2.png" style="width: 100%" alt="Artist">

    <span class="close" ng-click="$ctrl.closeModal()">
        &times;</span>
    <h1 class="fg-white">Alberta Clark</h1>
  </section>
  <!--End Jumbotron Mobile View-->

  <section class="item-details">
    <h6 class="modal-content-lg-only">Albums</h6>
    <hr>

    <!--Article Desktop view-->
    <article class="modal-article-lg-only">
      <div>
        <img src="../images/toDelete3.png" style="width: 100px" alt="Track">
      </div>
      <div>
        <div class="album-track-title">Little Frictions</div>
        <div class="track-length">2017</div>
      </div>
    </article>
    <!--End erticle desktop view-->

    <!--Article mobile view-->
    <article class="modal-article-sm-only">

        <div class="album-track-title">Little Frictions</div>
        <div class="track-length">2017</div>
    </article>
    <article class="modal-article-sm-only">

        <div class="album-track-title">Little Frictions</div>
        <div class="track-length">2017</div>
    </article>
    <!--End article mobile view-->

  </section>
</div>
</div>
